@charset "utf-8";
html,body{
	width: 100%;
	margin: 0 auto;
	-webkit-touch-callout: none; /*ios禁用系统默认菜单*/
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*ios去掉点击时阴影*/
	-webkit-user-select: none; /*禁止用户选择文本,选中元素. ios中将属性设置在input、textarea标签上会起到禁止输入作用*/
	/*touch-action: none;*/ /*是否允许用户操作*/
}
body{
	background-color: #fff;
	/*background-color: #f4f4f4;*/
	font-family: 'Hiragino Sans GB W3', 'Hiragino Sans GB', 'microsoft yahei', 'Sim sun', 'Helvetica Neue', 'Helvetica,sans-serif';
	font-size: 14px;
	color: #212121;
	overflow-x: hidden;
	overflow-y: auto;
	/*-webkit-overflow-scrolling: touch;*/ /*ios滚动回弹效果,页面更流畅，一般用于某个需要滚动的元素上，并且加上z-index:1，而不用于body*/
}
*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
header, footer, main, section, menu, nav, article, aside, hgroup, summary, details, figcaption, figure{display: block;}

/*+------------------------------------------------------------------------+*/
/*
** 元素外观
* ios、安卓都有默认样式,故需重定义
*/
button, input[type="text"], textarea{
	font-size: 14px;
	color: inherit;
	outline: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-ppearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	resize: none;
}
button{
	overflow: visible;
	text-transform: none;
}
select{
	text-transform: none;
}
ol, ul, li{
	list-style: none;
}
a{
	color: inherit;
	/*color: #0062cc;*/
	text-decoration: none;
	background-color: transparent;
}
i, em{
	font-style: normal;
}

/*+------------------------------------------------------------------------+*/
/*readoly*/
input:read-only,
input[readonly],
span[readonly],
textarea[readonly]{
	background-color: #fff;
	/*background-color: #fffbfb;*/
	-webkit-text-fill-color: inherit;
	-webkit-text-stroke: 1px solid #d6e9c6;
	filter: alpha(opacity=100);
	filter: progix:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-opacity: 1;
	opacity: 1;
}

/*disabled*/
/*默认的，ios中input,textarea属性disabled时字体会变成灰色*/
input:disabled,
input[disabled],
textarea:disabled,
textarea[disabled]{
	background-color: #f4f4f4;
	-webkit-text-fill-color: inherit;
	-webkit-text-stroke: 1px solid #d6e9c6;
	filter: alpha(opacity=100);
	filter: progix:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-opacity: 1;
	opacity: 1; /*默认透明度0.3，故一定要加opacity:1*/
}

/*+------------------------------------------------------------------------+*/
/*placeholder*/
/*input label*/
::-webkit-input-placeholder{
	font-size: 0.6rem;
	color: #e2dcdc;
}
::-moz-placeholder{
	font-size: 0.6rem;
	color: #e2dcdc;
}
:-moz-placeholder{
	font-size: 0.6rem;
	color: #e2dcdc;
}
:-ms-input-placeholder{
	font-size: 0.6rem;
	color: #e2dcdc;
}
/*div span label*/
div:empty::before,
span:empty::before{
	content: attr(placeholder);
	color: #e2dcdc;
	font-size: 0.6rem;
}


/*+------------------------------------------------------------------------+*/
/*滚动条样式*/
/*ie scrollbar*/
.ScrollBar-skin{
	scrollbar-base-color: #134087;
	scrollbar-3dlight-color: rgb(173, 165, 165);
	scrollbar-highlight-color: #fff; /*整体颜色*/
	scrollbar-track-color: #f4f4f4; /*轨道颜色*/
	scrollbar-face-color: #c0c3c9; /*滑块及按钮颜色*/
	scrollbar-arrow-color: #011433; /*按钮箭头颜色*/
	scrollbar-shadow-color: #e5e7eb; /*阴影颜色*/
	/*scrollbar-dark-shadow-color: #011433;*/
}
/*webkit内核 ScrollBar*/
.ScrollBar-skin::-webkit-scrollbar{ /*整体样式*/
	width: 2px;
}
.ScrollBar-skin::-webkit-scrollbar-thumb{ /*里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	background: rgba(0, 0, 0, .2);
}
.ScrollBar-skin::-webkit-scrollbar-track{ /*里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	border-radius: 0;
	background: rgba(0, 0, 0, .1);
}


/*+------------------------------------------------------------------------+*/
/*弹性布局*/
.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: box;
}